/* Profile.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left; /* Align title to the left */
  color: #333;
}

/* Profile Dashboard */
.profile-dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: transparent;
  color: #474332;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  height: 740px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  font-family: "Josefin Sans", serif;
}

.sidebar-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #45a049;
}

.logout {
  margin-top: auto;
}

.logout a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  padding: 10px;
  background-color: #d32f2f;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout a:hover {
  background-color: #888;
}

/* Profile Container Styles */
.profile-container {
  margin-left: 250px;
  padding: 30px;
  width: calc(100% - 250px);
}

.profile-details {
  background-color:transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  width: 1000px;
  margin: 0;
  text-align: left; /* Align text to the left */
}

.profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 1.2em;
  margin: 10px 0;
}

.profile-details p strong {
  color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .profile-container {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .profile-details {
    width: 100%;
  }
}
